.experience {
    max-height: inherit;
    max-width: 100%;
    text-align: center;
    position: relative;
    padding: 1rem;
    margin: 1.3rem;
 
    
    .column-experience{
     
        margin: 1rem;
        float: left;
        min-width: 100%;
      
    
 
   
.column{
    margin: 2rem 2rem;
    &:not(:last-child) {
        margin-right: 12.5rem;
        }
      
    

    @include clearfix;

    .card{
        perspective: 90rem;
        position: relative;
        @include clearfix;
        min-height: 20rem;
        

   
        

        

        &side{
            
            background-color: aquamarine;
            min-height: 20rem;
            min-width: 12rem;
            transition: all 1.7s ease;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            box-shadow: 0 1.5rem 4rem rgba(#EEE8AA,0.15);

            
            &--front{
                background-color: beige;
                overflow-y: hidden;         
         
            
                }
               &--back{
                background-color: blueviolet ;
                transform: rotateY(180deg);
                
                
        }

    }    
               
    &__picture{
        background-size: contain;
        min-height: 6rem;
        background-size: cover;
        background-blend-mode: saturation;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 96%);
        
      
    

       
        
        }  
       
    }
        
        

        &:hover .cardside--front  {
            transform: rotateY(-180deg);
        
        }
        &:hover .cardside--back  {
            transform: rotateY(0deg);
            
        }
        
      
        
    }

    .card{
        &--1{
        .card__picture{
            &--1{
                background-image:linear-gradient(to left, rgba(250, 235, 215, 0.3), rgba(76, 0, 130, 0.144)),url(../images/sample_object5.png);
                margin-top: -0.04rem
                
           
                
                
            }
        }
        
    }
    &--2{
        .card__picture{
            &--1{
                background-image:linear-gradient(to left, rgba(250, 235, 215, 0.3), rgba(76, 0, 130, 0.144)),url(../images/jack-b-pliYdZJNma0-unsplash.jpg);
                margin-top: -0.04rem
          
          
            }
        }
        
    }
    &--3{
        .card__picture{
            &--1{
                background-image:linear-gradient(to left, rgba(250, 235, 215, 0.3), rgba(76, 0, 130, 0.144)),url(../images/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
                margin-top: -0.04rem
            }
        }
        
    }
    &--1{
        .card__picture{
            &--1{
                background-image:linear-gradient(to left, rgba(250, 235, 215, 0.3), rgba(76, 0, 130, 0.144)),url(../images/sample_object5.png);
                margin-top: -0.04rem
            }
        }
        
    }
}

    

}

}