.experience {
    span{
        color: #fff;
    }
   
    max-height: inherit;
    max-width: 100%;
    text-align: center;
    position: relative;
    padding: 1rem;
    margin: 1.3rem;
 
    
    .column-experience{
     
        margin: 1rem;
        float: left;
        min-width: 100%;
      
    
 
   
.column{
    margin: 2rem 2rem;
    &:not(:last-child) {
        margin-right: 12.5rem;
        }
      
    

    @include clearfix;

    .card{
        perspective: 90rem;
        position: relative;
        @include clearfix;
        min-height: 20rem;
        

   
        

        

        &side{
            
            background-color: aquamarine;
            min-height: 20rem;
            min-width: 12rem;
            transition: all 1.7s ease;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            box-shadow: 0 1.5rem 4rem rgba(rgb(9, 9, 7),0.17);
            
            
            &--front{
                background-color: beige;
                overflow-y: hidden;   
                      .card__heading{
                            position: absolute;
                            top: 5rem;
                            right: 1rem;
                            text-transform: uppercase;
                            color: #fff;
                            width: 61%;
                            text-align: right;
                           
                        }   
                        .card__heading--span{
                            background-image: linear-gradient(to right,rgba(168, 155, 138, 0.8),rgba(147, 168, 136, 0.905));
                            padding: 0.2rem 0.9rem;
                            box-decoration-break: clone;
                        }   
                        
         
            
                }
               &--back{
                background-color: blueviolet ;
                transform: rotateY(180deg);
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
                
        }

    }    
               
    &__picture{
        background-size: contain;
        min-height: 9rem;
        background-size: cover;
        background-blend-mode: saturation;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 96%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 96%);
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        
      
    

       
        
        }  
       
    }
        
        

        &:hover .cardside--front  {
            transform: rotateY(-180deg);
        
        }
        &:hover .cardside--back  {
            transform: rotateY(0deg);
            
        }
        
      
        
    }

    .card{
        &--1{  //car--1
        .card__picture{
            &--1{
            background-image: linear-gradient(to right,rgba(34, 31, 28, 0.3),rgba(20, 22, 19, 0.3))
            } 
        }        
        
        
    }
    &--2{
        .card__picture{
            &--1{
                background-image:linear-gradient(to left, rgba(250, 235, 215, 0.3), rgba(76, 0, 130, 0.144)),url(../images/jack-b-pliYdZJNma0-unsplash.jpg);
                margin-top: -0.04rem
          
          
            }
        }
        
    }
    &--3{
        .card__picture{
            &--1{
                background-image:linear-gradient(to left, rgba(250, 235, 215, 0.3), rgba(76, 0, 130, 0.144)),url(../images/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
                margin-top: -0.04rem
                
            }
        }
        
    }
    &--1{
        .card__picture{
            &--1{
                background-image:linear-gradient(to left, rgba(250, 235, 215, 0.3), rgba(76, 0, 130, 0.144)),url(../images/sample_object5.png);
                margin-top: -0.04rem
            }
        }
        
    }
}

    

}


}




