*{
    scroll-behavior: smooth;
    font-size: 1.5vw;
 }
 body{
    margin: 0;
    font-family: 'Roboto', sans-serif;

    padding: 7px;
    background:#0c0c0bc7
   
    
 }
 header {
   width: 100%;
   background-size: cover !important;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
   position: relative;
   }